@import 'tailwindcss';
@import './global.css';

/* FONTS */
/* @theme {
  --icon-design: 'Monoton', sans-serif;
  --title-designe: 'Monoton', sans-serif;
} */

@font-face {
  font-family: 'Monoton';
  src: url('./fonts/Monoton.ttf') format('ttf');
}

/* LOADERS */
@import './utils/Loader/Loader.styles.css';

/* COMPONENTS */
@import './components/General/NavigationBar/Navigation.styles.css';
